<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean name="employee" class="com.BlackManta.spring.Employee">-->
        <!--&lt;!&ndash;Value as attribute method&ndash;&gt;-->
        <!--<property name="id" value="20"/>-->

        <!--&lt;!&ndash;Value as element method&ndash;&gt;-->
        <!--<property name="name">-->
            <!--<value>Black Manta</value>-->
        <!--</property>-->

    <!--</bean>-->

    <!--Using P schema/Name space-->
    <bean name="employee" class="com.BlackManta.spring.Employee" p:id="10" p:name="Black Manta"/>

</beans>
